@charset "UTF-8";

h1 {
    font-size: small;
}

p {
    font-size: 1rem;
}

.container-xl{
    min-width: 1410px;
    width: 1410px;
    max-width: 1410px;
}

.show {
    display: block !important;
}

#sakila_table {
    display: none;
    height: 800px;
    max-height: 800px;
    overflow-y:scroll;
}
.table thead th {
    font-size:0.5rem;
    padding:0.3rem;
    white-space: break-spaces;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table tbody td {
    white-space: break-spaces;
    padding: 0.3rem;
}

.space1,.space2,.space3,.space4,.space5,.space6{
    border: 1px solid #333;
    padding: 1rem;
    min-height:200px;
    height:200px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*以下ローディングCSS*/
.loading {
    display: none;
}

.loading.show {
    display: block !important;
    z-index: 9999;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: aqua;
    opacity: 0.5;
}

.sk-cube-grid>h6 {
    position: relative;
    text-align: center;
    top: 0px;
}

.sk-cube-grid {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}