/*space1 start*/
i.center {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** cstm Select **/
.cstm-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}

.cstm-select-wrapper select {
  display: none;
}

.cstm-select {
  position: relative;
  display: inline-block;
}

.cstm-select-trigger {
  position: relative;
  display: block;
  width: 165px;
  text-align: left;
  padding: 0 0 0 10px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}
.cstm-select-selected {
  display:block;
  width: 80%;
  height:30px;
}

.cstm-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -3px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg) translateY(-50%);
  transition: all .1s ease-in-out;
  transform-origin: 50% 0;
}

.cstm-select.opened .cstm-select-trigger:after {
  margin-top: 3px;
  transform: rotate(-135deg) translateY(-50%);
}

.cstm-options {
  position: absolute;
  display: block;
  top: 20px;
  left: 0;
  right: 0;
  min-width: 100%;
  margin: 15px 0;
  border: 1px solid #555555;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
  background: #fff;
  transition: all .1s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15px);
}

.cstm-select.opened .cstm-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.cstm-options:before {
  position: absolute;
  display: block;
  content: '';
  bottom: 100%;
  right: 25px;
  width: 7px;
  height: 7px;
  margin-bottom: -4px;
  border-top: 1px solid #555555;
  border-left: 1px solid #555555;
  background: #fff;
  transform: rotate(45deg);
  transition: all .1s ease-in-out;
}

.option-hover:before {
  background: #f9f9f9;
}

.cstm-option {
  position: relative;
  display: block;
  padding: 0 15px;
  border-bottom: 1px solid #555555;
  font-size: 12px;
  font-weight: 600;
  color: #555555;
  line-height: 30px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.cstm-option:first-of-type {
  border-radius: 4px 4px 0 0;
}

.cstm-option:last-of-type {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.cstm-option:hover,
.cstm-option.selection {
  background: #f9f9f9;
}

/*space1 end*/

/*space2 start*/
/*
html,body{
  height:100%;
}
body{
  text-align:center;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}*/
.hover_green {
  background: #1AAB8A;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 1rem;
  padding: 0 2em;
  cursor: pointer;
  transition: 300ms ease all;
  outline: none;
}

.hover_green:hover {
  background: #fff;
  color: #1AAB8A;
}

.hover_green:before, .hover_green:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1AAB8A;
  transition: 150ms ease all;
}

.hover_green:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.hover_green:hover:before, .hover_green:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/*space2 end*/

/*space3 start*/
.btn-square-so-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  /*色*/
  border-radius: 4px;
  /*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;
  /*線色*/
}

.btn-square-so-pop:active {
  /*押したとき*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  background: #96571c;
  /*色*/
}

/*space3 end*/
/*space4 start*/
.panel {
  border: 1px solid #1AAB8A;
  border-left: none;
  border-right:none;
  background-color: white;
  padding: 10px;
  display: none;
}
.box {
  background-color: #eee;
  display: block;
  display: inline-block;
  width: 250px;
  border: 1px solid #1AAB8A;
}
.bt{
  display: block;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: left;
}
.bt:hover {
  background-color: #ddd;
  border: 1px solid #1AAB8A;
}
.fas {
  float: right;
}
.op_font{
  font-size:16px;
}
.bt:focus {
    outline: none;
}
/*space4 end*/

/*space5 start*/
.space5 input{
  display:none;  
}
.space5 .block{
  width:120px;
  position:relative;
  clear:both;
  margin:0;
  float: left;
}
.space5 span{
  text-transform:uppercase;
  font-family:'Roboto Condensed', sans-serif;
  font-weight:bold;
  letter-spacing:1px;
  font-size:16px;
  font-weight:600;
  float:right;
  width:50px;
  margin:4px 0 0;
}
.space5 .wrap{
  width:120px;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.space5 label{
  width:60px;
  height:30px;
  box-sizing:border-box;
  border:3px solid #7e7e7e;
  float:left;
  border-radius:30px;
  position:relative;
  cursor:pointer;
  transition:.3s ease;
}
.space5 input[type=checkbox] + label{
  background:#ff0000;
}
.space5 input[type=checkbox]:checked + label{
  background:#00ffaa;
}
.space5 input[type=checkbox]:checked + label:before{
  left:32px;
  box-shadow: -2px 2px 5px #6a6a6a;
}
.space5 label:before{
  transition:.3s ease;
  content:'';
  width:20px;
  height:20px;
  position:absolute;
  background:#a1a1a1;
  left:2px;
  top:2px;
  box-sizing:border-box;
  color:black;
  border:1px solid #bbbbbb;
  border-radius:30px;
  box-shadow: 2px 2px 5px #6a6a6a;
}
/*space5 end*/